@charset"UTF-8";
.gl-banner-ctr {
	position: relative;
	height: 425px;
	background-image: url(./images/goods-banner.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.gl-banner-txt-wrapper {
	position: absolute;
	top: 120px;
	left: 0;
	width: 100%;
	text-align: center;
}
.gl-banner-tle {
	padding-bottom: 20px;
	font-family: 'yst-font';
	color: #b3494d;
	font-size: 48px;
	background-repeat: no-repeat;
  background-position: center 40px;
  background-image: url(../public/images/txt-bg.png);
}
.gl-banner-txt {
	padding-left: 5px;
	line-height: 40px;
	letter-spacing: 5px;
	color: #fff;
	font-size: 18px;
}
.gl-content-ctr {
	margin: 0 auto;
	max-width: 1528px;
}
.gl-content-tle-wrapper {
	position: relative;
	padding: 60px 0 40px;
	margin: 0 15px;
}
.gl-ct-tle-group {
	position: relative;
	margin: 0 auto;
	width: 250px;
	text-align: center;
	cursor: pointer;
}
.gl-ct-tle-view {
	line-height: 60px;
	padding: 0 30px 0 5px;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 5px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(./images/pull-down.png);
}
.gl-ct-tle-view.isShow {
	background-image: url(./images/pull-down-3.png);
}
.gl-ct-tle-list {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 100;
}
.gl-ct-tle-item {
	margin-top: -1px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: left;
	border: 1px solid #b0b0b0;
	background-repeat: repeat;
	background-position: center;
	-moz-background-size: cover;
	     background-size: cover;
}
.gl-ct-tle-item:hover {
	color: #fff;
	background-image: url(./images/pull-down-list-bg.png);
}
.gl-tle-item-txt {
	padding-left: 2px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
}
.gl-sort-ctr {
	position: absolute;
	right: 0px;
	top: 69px;
	width: 185px;
	cursor: pointer;
	z-index: 100;
}
.gl-sort-view {
	display: block;
	line-height: 40px;
	padding-left: 20px;
	border: 1px solid #b7b7b7;
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: 160px center;
	background-image: url(./images/pull-down-2.png);
}
.gl-sort-view.isShow {
	background-image: url(./images/pull-down-4.png);
}
.gl-sort-styles {
	border: 1px solid #b7b7b7;
	border-top: none;
	background-color: #fff;
}
.gl-sort-item {
	line-height: 40px;
	padding: 0 10px;
	font-size: 14px;
	color: #808080;
 -webkit-transition: all 0.3s ease-in-out 0s;
 -moz-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
}
.gl-sort-item:hover {
	color: #fff;
	background-color: #a11f24;
}
.gl-main-content {
	overflow: hidden;
	padding-bottom: 100px;
}
.gl-main-ct-side-wrapper {
	width: 26%;
}
.gl-main-list-wrapper {
	width: 74%;
}
.gl-ct-list-view {
	overflow: hidden;
	padding-bottom: 30px;
}
.gl-ct-list-item {
	float: left;
	width: 33.3333333%;
}
.gl-ct-item-img-wrapper {
	margin: 0 15px;
}
.gl-ct-item-img-group {
	position: relative;
	padding-top: 100%;
	height: 0;
	overflow: hidden;
}
.gl-ct-item-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1
}
.item-discount-wrapper {
	display: block;
	position: absolute;
	top: 25px;
	left: 0;
	width: 76px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(./images/discount-bg.png);
	z-index: 99;
}
.not-more .item-discount-wrapper {
	background-image: url(./images/g.png);
}
.not-more .item-discount-num {
	color: #656565;
	font-size: 16px;
	font-weight: bold;
}
.item-discount-num {
	display: block;
	position: absolute;
	top: 11px;
	left: 15px;
	color: #fff;
	font-size: 18px;
	-webkit-transform: rotate(-12deg);
	        -moz-transform: rotate(-12deg);
	         -ms-transform: rotate(-12deg);
	     transform: rotate(-12deg);
}
.gl-ct-item-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.first-item-img, .gl-ct-item-link:hover .last-item-img {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}
.last-item-img, .gl-ct-item-link:hover .first-item-link {
	opacity: 0;
	filter: alpha(opacity=0);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}
.gl-ct-item-info {
	position: relative;
	margin: 0 15px;
	padding-top: 20px;
	text-align: center;
}
.gl-ct-item-price-old {
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 100%;
	z-index: 1;
}
.gl-ct-price-old-num {
	position: relative;
	padding: 0 3px;
	font-size: 12px;
	color: #252525;
}
.price-old-hr {
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px; 
	background-color: #252525;
}
.gl-ct-series-ctr {
	text-align: center;
}
.series-ctr {
	margin: 0 2px;
	width: 13px;
	height: 13px;
	border: 1px solid #5a6161;
}
.series-ctr.spl-cl-1 {
	background-color: #2f4242;
}
.series-ctr.spl-cl-2 {
	background-color: #fff;
}
.series-ctr.spl-cl-3 {
	background-color: #314442;
}
.gl-ct-item-name {
	padding: 0 10px;
	line-height: 24px;
	font-size: 14px;
	color: #808080;
	overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.gl-ct-item-price {
	padding: 0 10px;
	line-height: 26px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.gl-ct-series-ctr {
	font-size: 0;
	padding: 15px 0 25px 0;
}
.gl-main-list-air {
	margin: 40px 0 0 -90px; 
	text-align: center;
}
.gl-main-list-air-img {
	margin: 0 auto;
	width: 280px;
}
.gl-main-list-air-txt {
	margin-top: 40px;
	padding-left: 70px;
	line-height: 60px;
	font-size: 30px;
	color: #b3494d;
	letter-spacing: 2px;
	font-weight: bold;
}
.gl-main-list-air-desc {
	line-height: 20px;
	padding-left: 70px;
	font-size: 16px;
	letter-spacing: 2px;
}


/*侧边*/
.gl-main-ct-side-group {
	margin-top: -11px;
	padding: 0 30px 0 15px;
}
.gl-ct-side-link {
	line-height: 38px;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: bold;
}
.on-sail-link {
	padding-right: 35px;
	background-repeat: no-repeat;
	background-position: right 3px;
	background-image: url(./images/limit.png);
}
.gl-ct-side-link:hover, .gl-ct-side-link.now-page {
	color: #b3494d
}
.gl-ct-side-link.price-range:hover {
	color: #000;
}
.slider-range-desc {
	position: relative;
	line-height: 30px;
}
.slider-range-desc {
	font-size: 14px;
	font-weight: bold;
}
.slider-range-find {
	position: absolute;
	right: 0px;
	top: 0px;
	padding-right: 15px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(./images/find.png);
}
.slider-range-find:hover {
	background-image: url(./images/find-hover.png);
	color: #b3494d;
}
.gl-condition-list-stair {
	margin-top: 12px;
	border-top: 1px solid #d6d6d6;
}
.gl-item-stair-name {
	display: block;
	line-height: 60px;
	font-weight: bold;
	font-size: 16px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(./images/show.png);
	cursor: pointer;
	letter-spacing: 2px;
}
.gl-item-stair-name.isShow {
	background-image: url(./images/hide.png);
	border-bottom: 1px dashed #d6d6d6;
}
.gl-condition-item-stair {
	border-bottom: 1px solid #d6d6d6;
}
.gl-item-secondleve-name {
	display: block;
	line-height: 36px;
	font-weight: bold;
	font-size: 16px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(./images/show-1.png);
	cursor: pointer;
	letter-spacing: 2px;
}
.gl-item-secondleve-name.isShow {
	background-image: url(./images/hide-1.png);
}
.gl-condition-item-secondlevel {
	padding: 10px 0 0px 40px;
	background-repeat: no-repeat;
}
.select-input-txt {
	display: block;
	line-height: 34px;
	font-size: 14px;
	letter-spacing: 2px;
}
.threelevel-item {
	position: relative;
	padding-left: 32px;
	font-size: 0;
}
.threelevel-item.size-spl-styl {
	padding: 5px 0 0 0;
}
.select-input-wrapper {
	display: block;
	position: absolute;
	left: 0;
	top: 8px;
	width: 16px;
	height: 16px;
	border: 1px solid #d6d6d6;
}
.select-input-checked {
	display: none;
	margin: 4px;
	width: 8px;
	height: 8px;
	background-color: #b3494d;
}
.select-input-wrapper.checked-item .select-input-checked {
	display: block;
}
.clothes-icon {
	background-image: url(./images/clothing.png);
	background-position: 0px 12px;
}
.pants-icon {
	background-image: url(./images/pants.png);
	background-position: 7px 16px;
}
.ornament-icon {
	background-image: url(./images/ornament.png);
	background-position: 0px 18px;
}
.shoe-icon {
	background-image: url(./images/shoe.png);
	background-position: 0px 22px;
}
.leather-icon {
	background-image: url(./images/leather.png);
	background-position: 0px 18px;
}
.select-input-size {
	position: relative;
	padding: 5px 12px;
	margin: 0 10px 10px 0;
	border: 1px solid #d6d6d6;
	-moz-border-radius: 3px;
	     border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.select-input-size:hover, .select-input-size.checked-item {
	color: #fff;
	background-color: #b3494d;
	border: 1px solid #b3494d;
}
.gl-condition-list-secondlevel {
	display: none;
	padding-bottom: 14px;
}

.gl-condition-list-threelevel {
	display: none;
	padding: 12px 0;
	max-height: 260px;
	overflow-x: hidden;
  overflow-y: scroll;
}
.gl-condition-list-threelevel::-webkit-scrollbar {  
  width: 5px;  
  height: 16px;  
  background-color: #fff;  
}  
.gl-condition-list-threelevel::-webkit-scrollbar-thumb {
  width: 5px;  
  height: 16px;
  border-radius: 5px;  
  background-color: #808080;
}
.gl-condition-list-threelevel::-webkit-scrollbar-track {
  background-color: #fff;
  display: none;
}
.gl-condition-list-threelevel::-webkit-scrollbar-button {
  background-color: #fff;
  display: none;
}
.gl-main-ct-side-bimg {
	margin: 30% auto 0;
	width: 70%;
}

/*分页组件*/
.global-paging {
	position: relative;
	margin-right: 15px;
	height: 26px;
	border-top: 1px solid #d6d6d6;
}
.global-paging-desc {
	position: absolute;
	left: 5px;
	top: -2px;
	padding-top: 35px;
	line-height: 26px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
}
.global-paging-total-pages {
	line-height: 14px;
	padding-left: 8px;
	border-left: 2px solid #000;
	vertical-align: baseline;
}
.global-paging-ctr {
	top: -2px;
}
.global-paging-item {
	padding-top: 35px;
	width: 70px;
}