@charset"UTF-8";
.gl-banner-ctr {
	position: relative;
	height: 550px;
	background-image: url(./images/goods-banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
.gl-banner-txt-wrapper {
	position: absolute;
	top: 250px;
	left: 0;
	width: 100%;
	text-align: center;
}
.gl-banner-txt {
	padding-left: 5px;
	line-height: 40px;
	letter-spacing: 5px;
	color: #fff;
	font-size: 18px;
}
.gl-content-ctr {
	margin: 0 auto;
	max-width: 1528px;
}
.gl-content-wrapper {
	padding: 0 15px;
}
.gl-content-tle-wrapper {
	position: relative;
	padding: 60px 0 40px;
	margin: 0 15px;
}
.gl-ct-tle-group {
	position: relative;
	margin: 0 auto;
	width: 250px;
	text-align: center;
	cursor: pointer;
}
.gl-ct-tle-view {
	line-height: 60px;
	padding: 0 30px 0 5px;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 5px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(./images/pull-down.png);
}
.gl-ct-tle-view.clicked {
	background-image: url(./images/pull-down-3.png);
}
.gl-ct-tle-list {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	z-index: 1;
}
.gl-ct-tle-item {
	margin-top: -1px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: left;
	border: 1px solid #b0b0b0;
	background-repeat: repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.gl-ct-tle-item:hover {
	color: #fff;
	background-image: url(./images/pull-down-list-bg.png);
}
.gl-tle-item-txt {
	padding-left: 2px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
}
.gl-sort-ctr {
	position: absolute;
	right: 0px;
	top: 69px;
	width: 185px;
	cursor: pointer;
}
.gl-sort-view {
	display: block;
	line-height: 40px;
	padding-left: 20px;
	border: 1px solid #b7b7b7;
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: 160px center;
	background-image: url(./images/pull-down-2.png);
}
.gl-sort-view.clicked {
	background-image: url(./images/pull-down-4.png);
}
.gl-sort-styles {
	border: 1px solid #b7b7b7;
	border-top: none;
}
.gl-sort-item {
	line-height: 40px;
	padding: 0 10px;
	font-size: 14px;
	color: #808080;
	-webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.gl-sort-item:hover {
	color: #fff;
	background-color: #a11f24;
}
.gl-main-content {
	overflow: hidden;
}
.gl-main-ct-side-wrapper {
	width: 26%;
	height: 100px;
}
.gl-main-list-wrapper {
	width: 74%;
}
.gl-ct-list-view {
	overflow: hidden;
}
.gl-ct-list-item {
	float: left;
	width: 33.3333333%;
}
.gl-ct-item-img-wrapper {
	margin: 0 15px;
}
.gl-ct-item-img-group {
	position: relative;
	padding-top: 100%;
	height: 0;
	overflow: hidden;
}
.gl-ct-item-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1
}
.gl-ct-item-img {
	width: 100%;
	height: 100%;
}
.gl-ct-item-info {
	margin: 0 15px;
}
.gl-ct-item-info {
	text-align: center;
}
.gl-ct-series-ctr {
	text-align: center;
}
.series-ctr {
	margin: 0 2px;
	width: 13px;
	height: 13px;
	border: 1px solid #5a6161;
}
.series-ctr.spl-cl-1 {
	background-color: #2f4242;
}
.series-ctr.spl-cl-2 {
	background-color: #fff;
}
.series-ctr.spl-cl-3 {
	background-color: #314442;
}