@charset"UTF-8";
.abus-banner-ctr {
	position: relative;
	height: 425px;
	background-image: url(./images/banner2.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.abus-ct-box {
	margin: 0 auto;
	width: 90%;
	max-width: 1350px;
}

.abus-ct-item {
	font-size: 0;
}
.abus-ct-item-wrapper {
	width: 50%;
}
.abus-im-wpr-l {
	padding-right: 20px; 
}
.abus-im-wpr-r {
	padding-left: 20px; 
}