@charset"UTF-8";
.hc-banner-wrapper {
	position: relative;
	height: 425px;
	background-image: url(./images/banner.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.hc-banner-ct {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	margin-top: -100px;
	text-align: center;
	z-index: 1;
}
.hc-banner-img {
	margin: 0 auto;
	padding-bottom: 16px;
	width: 114px;
}
.hc-banner-tle {
	line-height: 52px;
	padding-left: 2px;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #fff;
}
.hc-banner-desc {
	line-height: 30px;
	padding-left: 2px;
	font-size: 14px;
	letter-spacing: 2px;
	color: #fff;
}
.hand-custom-tle-wrapper {
	padding: 30px 0 20px;
	text-align: center;
}
.hand-custom-tle {
	line-height: 50px;
	padding-left: 2px;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}
.hand-custom-tle-desc {
	line-height: 34px;
	padding-left: 2px;
	font-size: 14px;
	letter-spacing: 2px;
}
.hand-custom-product {
	position: relative;
	width: 100%;
}
.hcpt-ctr {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.hcpt-wrapper {
	margin: 0 auto;
	width: 96%;
	height: 100%;
	max-width: 1780px; 
	overflow: hidden;
}
.hcpt-box {
	position: relative;
	padding: 0 40px;
	height: 100%;
}
.hcpt-slide-wrapper {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.hcpt-slide-ctr {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
}
.hcpt-slide {
	float: left;
}
.hcpt-slide-link {
	position: relative;
	display: block;
	height: 0;
	padding-top: 113%;
}
.hcpt-slide-img {
	position: absolute;
	bottom: 0;
	left: 15%;
	width: 70%;
}
.img-prev-btn {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(./images/prev-n.png);
}
.img-prev-btn.has-more {
	background-image: url(./images/prev-y.png);
	cursor: pointer;
}
.img-next-btn {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(./images/next-n.png);
}
.img-next-btn.has-more {
	background-image: url(./images/next-y.png);
	cursor: pointer;
}
.hc-reflect-shop {
	margin-bottom: 50px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}
.hc-reflect-shop.beijing {
	background-image: url(./images/bj.jpg);
}
.hc-reflect-shop.shenzhen {
	background-image: url(./images/sz.jpg);
}
.hc-rp-wrapper {
	position: relative;
	padding: 6% 0;
	margin: 0 auto;
	width: 80%;
	max-width: 1370px;
	overflow: hidden;
}
.hc-rp-img {
	width: 47%;
}
.hc-rp-info {
	position: absolute;
	width: 50%;
	top: 50%;
}
.hc-reflect-shop.beijing .hc-rp-img {
	float: right;
}
.hc-reflect-shop.beijing .hc-rp-info {
	left: 0;
	text-align: left;
}
.hc-reflect-shop.shenzhen .hc-rp-img {
	float: left;
}
.hc-reflect-shop.shenzhen .hc-rp-info {
	right: 0;
	text-align: right;
}
.hcrp-tle {
	padding-bottom: 15px;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 2px;
}
.hcrp-txt {
	line-height: 36px;
	font-size: 16px;
	letter-spacing: 2px;
}
.hcrp-btn {
	display: block;
	margin-top: 25px;
	padding-left: 2px;
	line-height: 50px;
	width: 188px;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	color: #e97f83;
	text-align: center;
	letter-spacing: 2px;
	cursor: pointer;
}
.hc-reflect-shop.shenzhen .hcrp-btn {
	float: right;
}

.user-cpm-wrapper {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
}
.user-cpm-bg {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
	filter: alpha(opacity=80);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
}
.user-cpm-content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -375px;
	width: 750px;
	background-color: #fff;
	z-index: 1;
}
.user-cpm-tle {
	line-height: 85px;
	padding-left: 4px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 4px;
	border-bottom: 3px solid #393939;
}
.user-cpm-close-btn {
	display: block;
	position: absolute;
	right: 22px;
	top: 22px;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../public/images/close.png);
	cursor: pointer;
}
.no-hand-custom {
	padding: 100px 0;
	text-align: center;
}
.no-hc-icon {
	margin: 0 auto;
	width: 210px;
}
.no-hc-tle {
	padding-top: 30px;
	line-height: 50px;
	padding-left: 2px;
	font-size: 30px;
	font-weight: bold;
	color: #a73034;
	letter-spacing: 2px;
}
.no-hc-desc {
	line-height: 36px;
	padding-left: 2px;
	font-size: 16px;
	letter-spacing: 2px;
}