@charset"UTF-8";
.ucw-title-wrapper {
	position: relative;
}
.ucw-title-btn {
	display: block;
	position: absolute;
	right: -2px;
	bottom: 0;
	line-height: 46px;
	font-size: 16px;
	letter-spacing: 2px;
	cursor: pointer;
}
.ucw-title-btn:hover {
	color: #b3494d;
}
.user-address-info-tle-wrapper {
	padding-top: 4px;
}
.uras-info-tles {
	overflow: hidden;
	text-align: center;
}
.uras-info-tle {
	float: left;
	font-size: 0px;
}
.uras-info-tle-txt {
	margin: 0 auto;
	padding-left: 2px;
	line-height: 38px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
}
.wd-li-1 {
	width: 10.5%;
}
.wd-li-2 {
	width: 15.5%;
}
.wd-li-3 {
	width: 23.5%;
}
.wd-li-4 {
	width: 13.5%;
}
.wd-li-5 {
	width: 19.5%;
}
.wd-li-6 {
	width: 17.5%;
}
.user-address-info {
	margin-bottom: 30px;
	overflow: hidden;
	height: 98px;
	border: 1px solid #e8e8e8;
}
.uras-info-list {
	height: 100%;
	background-color: #f4f6f5;
}
.uras-info-item {
	float: left;
	position: relative;
	line-height: 24px;
	height: 100%;
	font-size: 0;
}
.uras-info-item:before {
	content: "";
	display: block;
	position: absolute;
	right: -2px;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #e8e8e8;
	z-index: 1;
}
.uras-info-view {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
}
.io-vw {
	display: block;
	padding: 0 10px 0px 11px;
	font-size: 12px;
	letter-spacing: 1px;
	word-wrap: break-word;
}
.uras-io-vw {
	text-align: left;
	padding: 0 10px 0px 11px;
}
.uras-io-vw .in-block {
	margin-right: 10px;
	font-size: 12px;
	letter-spacing: 1px;
}
.uras-info-item-btn {
	line-height: 14px;
	padding: 0 10px;
	font-size: 12px;
	color: #b3494d;
	cursor: pointer;
}
.uras-info-item-btn.cg-btn {
	border-right: 1px solid #000;
}
.default-address-btn {
	margin-top: 7px;
	line-height: 30px;
	width: 80px;
	height: 30px;
	text-align: center;
	padding-left: 1px;
	letter-spacing: 1px;
	background-color: #000;
	color: #ff8c90;
	font-size: 12px;
	font-weight: bold;
}
.set-default-address-btn {
	line-height: 24px;
	font-size: 12px;
	padding-left: 2px;
	letter-spacing: 2px;
	cursor: pointer;
}
.set-default-address-btn:hover {
	color: #b3494d;
}

.not-address-box {
	padding-top: 55px;
	text-align: center;
}
.not-address-img {
	margin: 0 auto;
}
.not-address-btn {
	margin: 0 auto;
	line-height: 36px;
	padding-left: 2px;
	width: 210px;
	height: 36px;
	color: #ff8c90;
	cursor: pointer;
	letter-spacing: 2px;
}
.not-address-desc {
	padding-left: 2px;
	line-height: 70px;
	font-size: 14px;
	letter-spacing: 2px;
}


.sc-goods-total-oper {
	margin-top: -10px;
	overflow: hidden;
}
.sc-goods-oper-sel {
	float: left;
	line-height: 26px;
	font-size: 14px;
	letter-spacing: 2px;
}
.address-list-num {
	color: #b3494d;
}

.global-paging {
	position: relative;
	margin-right: 5px;
}
.global-paging-desc {
	position: absolute;
	right: 90px;
	top: 0px;
	line-height: 26px;
	font-size: 14px;
	letter-spacing: 2px;
	color: #494a4a;
}
.global-paging-desc-num {
	color: #000;
	font-weight: bold;
}
.global-paging-ctr {
	position: absolute;
	right: 0;
	top: 0px;
}
.global-paging-item {
	position: relative;
	float: left;
	width: 50px;
	text-align: center;
}
.global-paging-item-link {
	display: block;
	line-height: 26px;
	height: 26px;
	font-size: 16px;
	color: #808080;
}
.omit-wrapper {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../goods-list/images/omit.png);
}
.prev-next {
	font-size: 14px;
	color: #ff8c90;
	background-color: #000;
}
.prev-next-wrapper {
	width: 70px;
}
.global-paging-item-link:hover, .now-page .global-paging-item-link {
	font-weight: bold;
	color: #000;
}
.global-paging-item-link.prev-next:hover {
	color: #ff8c90;
	background-color: #373737;
}
.global-paging-itemborder {
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -12px;
	width: 24px;
	height: 3px;
	background-color: #b3494d;
	opacity: 0;
	filter: alpha(opacity=0);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	z-index: 1;
}
.now-page .global-paging-itemborder {
	opacity: 1;
	filter: alpha(opacity=100);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}

.user-cpm-input-item {
	position: relative;
	padding: 26px 0 10px;
	border-bottom:  1px solid #d3d3d3;
}
.user-cpm-input-box {
	padding-left: 120px;
}
.user-cpm-input-name {
	display: block;
	position: absolute;
	left: 0;
	top: 26px;
	line-height: 22px;
	z-index: 1;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-position: left 6px;
	background-image: url(../public/images/essential-icon.png);
	letter-spacing: 2px;
}
.user-cpm-input-name.not-ic {
	background-image: none;
}
.user-cpm-content-group {
	padding: 0 50px;
}
.user-cpm-error {
	display: none;
	position: absolute;
	left: 0;
	top: 5px;
	right: 0;
	padding-left: 2px;
	line-height: 20px;
	font-size: 12px;
	color: #b04347;
	text-align: center;
	letter-spacing: 2px;

}
.user-cpm-desc {
	line-height: 22px;
	padding: 25px 0 10px 2px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 12px;
}
.user-cpm-input-ctr {
	line-height: 22px;
	width: 100%;
	height: 22px;
	letter-spacing: 2px;
}
.user-cpm-set-default {
	position: relative;
	padding: 10px 0 10px 35px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
}
.cpm-set-dt-btn {
	display: block;
	position: absolute;
	left: 0;
	top: 10px;
	width: 50px;
	height: 40px;
	z-index: 1;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(../public/images/select-icon.png);
}
.cpm-set-dt-btn.selected {
	background-image: url(../public/images/selected-icon.png);
}
.set-dt-checkbox {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}
.user-cpm-btns {
	padding-bottom: 30px;
	text-align: center;
	font-size: 0;
}
.user-cpm-btn {
	margin: 0 20px;
	padding-left: 2px;
	line-height: 36px;
	width: 158px;
	height: 36px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	color: #ff8c90;
	letter-spacing: 2px;
}
.close-cg-btn {
	background-color: #7f7e7e;
	color: #fff;
}
.trigeminy-address {
	height: 22px;
}
.trigeminy-address-box {
	position: relative;
	float: left;
	margin-right: 40px;
}
.trigeminy-address-view {
	display: block;
	line-height: 22px;
	width: 130px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../public/images/pull-down-2.png);
	cursor: pointer;
}
.trigeminy-address-list {
	display: none;
	position: absolute;
	top: 22px;
	right: 0;
	line-height: 30px;
	width: 110px;
	height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
	z-index: 1;
	background-color: #fff;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.trigeminy-address-list::-webkit-scrollbar {  
  width: 2px;  
  height: 16px;  
  background-color: #fff;  
}  
.trigeminy-address-list::-webkit-scrollbar-thumb {
  width: 2px;  
  height: 16px;  
  background-color: #a11f24;
}
.trigeminy-address-list::-webkit-scrollbar-track {
  background-color: #fff;
  display: none;
}
.trigeminy-address-list::-webkit-scrollbar-button {
  background-color: #fff;
  display: none;
}
.trigeminy-address-item {
	padding: 0 15px;
	-webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-overflow:ellipsis;
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: 14px;
  cursor: pointer;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.trigeminy-address-item:hover {
	color: #fff;
	background-color: #a11f24;
	border-left: 1px solid #a11f24;
  border-right: 1px solid #a11f24;
}
.user-address-wrapper {
	max-height: 650px;
	overflow: hidden;
}