@charset"UTF-8";
.sc-hint-wrapper {
	padding: 20px 10% 46px;
	border-top: 1px solid #ccc;
}
.sc-hint-list {
	overflow: hidden;
}
.sc-hint-item {
	float: left;
	width: 25%;
	text-align: center;
}
.sc-hint-link {
	display: block;
	border-right: 1px solid #ccc;
}
.sc-hint-link.no-border {
	border: none;
}
.sc-hint-icon {
	display: block;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
}
.hint-icon-1 {
	background-image: url(../shopping-cart/images/sc-1.png);
}
.sc-hint-link:hover .hint-icon-1 {
	background-image: url(../shopping-cart/images/sc-1-1.png);
}
.hint-icon-2 {
	background-image: url(../shopping-cart/images/sc-2.png);
}
.sc-hint-link:hover .hint-icon-2 {
	background-image: url(../shopping-cart/images/sc-2-1.png);
}
.hint-icon-3 {
	background-image: url(../shopping-cart/images/sc-3.png);
}
.sc-hint-link:hover .hint-icon-3 {
	background-image: url(../shopping-cart/images/sc-3-1.png);
}
.hint-icon-4 {
	background-image: url(../shopping-cart/images/sc-4.png);
}
.sc-hint-link:hover .hint-icon-4 {
	background-image: url(../shopping-cart/images/sc-4-1.png);
}
.sc-hint-name {
	display: block;
	line-height: 28px;
	padding-left: 2px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
}

.cpp-tle {
	line-height: 50px;
	padding: 65px 0 50px 4px;
	letter-spacing: 4px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.cppw-box {
	position: relative;
	margin:  0 auto;
	width: 870px;
	overflow: hidden;
}
.cppw-box-l {
	float: left;
	width: 300px;
}
.cpp-tle-wrapper {
	line-height: 38px;
	border-bottom: 4px solid #000;
	font-size: 0;
}
.cpp-tle-txt {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
}
.cpp-tle-desc {
	padding-left: 10px;
	font-size: 15px;
	letter-spacing: 1px;
}
.settle-err {
	color: #b3494d;
	font-size: 12px;
}
.settle-input-group {
	padding: 15px 0;
}
.settle-input-group .u-ic .sign-input {
	width: 186px;
}
.settle-input-group .p-ic .sign-input {
  width: 193px;
}
.settle-input-group .c-ic .sign-input {
	width: 108px;
}
.settle-input-group .sign-input-ctr.u-ic {
  background-position: 280px center;
}
.settle-input-group .sign-input-ctr.p-ic {
  background-position: 280px center;
}
.settle-input-group .sign-input-ctr.c-ic {
  background-position: 180px center;
}
.settle-input-group .sign-input-layout {
  padding-bottom: 15px;
}
.settle-input-group .rest-operation-wrapper {
  padding-top: 25px;
}
.cppw-box-hr {
	display: block;
	position: absolute;
	left: 50%;
	top: 45px;
	margin-left: -1px;
	width: 2px;
	height: 260px;
	background-color: #000;
}
.cppw-box-r {
	float: right;
	width: 300px;
}
.caller-psy-wrapper {
	padding-bottom: 10px;
}
.caller-psy-desc {
	position: relative;
	padding-left: 10px;
	padding-top: 20px;
	line-height: 24px;
	font-size: 14px;
	letter-spacing: 2px;
}
.caller-psy-icon {
	display: block;
	position: absolute;
	left: 0;
	top: 31px;
	width: 2px;
	height: 2px;
	background-color: #000;
}
.cpp-desc {
	padding: 45px 0 45px 2px;
	line-height: 45px;
	font-size: 15px;
	text-align: center;
	letter-spacing: 2px;
}