@charset"UTF-8";
.home-of-wrapper-ctr {
	position: relative;
	margin: 0 auto;
	/*width: 1400px;*/
}
.home-of-wrapper {
	position: relative;
	margin: 0 auto;
	width: 1200px;
}
.home-of-header {
	position: relative;
	margin: 30px 0;
	padding: 0 16px;
}
.home-of-header-sl {
	position: absolute;
	left: 50%;
	top: 0;
	width: 165px;
	margin-left: -855px;
	z-index: 100;
	text-align: right;
}
.hfhd-sl {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
}
.hfhd-sl-desc {
	font-size: 14px;
	color: #808080;
	letter-spacing: 1px;
}
.home-of-header-box {
	position: relative;
	padding-left: 65px;
}
.hfhd {
	position: absolute;
	left: 0;
	top: 0;
	line-height: 28px;
	font-size: 14px;
	letter-spacing: 1px;
}
.home-of-nav {
	line-height: 28px;
	font-size: 0;
}
.hf-nav-item {
	position: relative;
	padding: 0 20px;
}
.hf-nav-item:hover .itm-box {
	background-color: #808080;
}
.hf-gif {
	position: absolute;
	bottom: 24px;
	right: 0px;
}
.hf-nav-item-hr {
	display: block;
	width: 1px;
	height: 14px;
	background-color: #000;
}
.hf-nav-item-txt {
	display: block;
	font-size: 14px;
	letter-spacing: 1px;
	cursor: pointer;
}
.hf-nav-item-txt:hover {
	color: #808080;
}
.home-of-title {
	padding: 0 16px;
}
.home-of-title-box {
	position: relative;
	padding-left: 155px;
	height: 155px;
}
.home-of-title-icon {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 155px;
	height: 155px;
}
.hf-icon-box {
	display: block;
	height: 126px;
	background-position: left center;
	background-repeat: no-repeat;
}
.icon-1 {
	background-image: url(../home-of/images/i-1.png);
}
.icon-2 {
	background-image: url(../home-of/images/i-2.png);
}
.icon-3 {
	background-image: url(../home-of/images/i-3.png);
}
.icon-4 {
	background-image: url(../home-of/images/i-5.png);
}
.icon-6 {
	background-image: url(../home-of/images/i-6.png);
}
.hf-icon-name {
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #f03e4d;
}
.home-of-title-ct {
	display: none;
	position: relative;
	padding-left: 60px;
	padding-right: 120px;
	height: 122px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url(../home-of/images/dialog-box.png);
}
.groove-input {
	position: relative;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 30px;
	height: 122px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url(../home-of/images/dialog-box.png);
}
#groove-ipt-ctr {
	position: absolute;
	left: 50px;
	top: 40px;
	right: 30px;
	width: 92%;
	line-height: 20px;
	font-size: 14px;
	border: none;
	resize: none;
	background-color: transparent;
	z-index: 2;
}
.groove-input-placeholder {
	position: absolute;
	left: 50px;
	top: 40px;
	right: 30px;
	line-height: 20px;
}
.gip-desc {
	font-size: 14px;
	color: #bababa;
}
.font-length {
	position: absolute;
	right: 20px;
	bottom: 30px;
	line-height: 20px;
	font-size: 14px;
	color: #bababa;
	z-index: 3;
}
.hftle-ct-desc {
	padding: 22px 0;
}
.hftle-ct-txt-txt {
	line-height: 26px;
	font-size: 14px;
}
.hftle-ct-er-code {
	position: absolute;
	right: 0;
	top: 0;
	width: 112px;
}
.hftle-ct-er-code-img {
	display: block;
	padding-top: 10px;
	margin: 0 auto;
	width: 80px;
}
.hftle-ct-er-txt {
	display: block;
	line-height: 26px;
	font-size: 12px;
	text-align: center;
}
.home-of-sy-nav {
	position: relative;
	padding: 10px 16px 0;
}
.home-of-sy-nav-box {
	position: relative;
	padding-right: 120px;
	border-bottom: 1px solid #d9d9d9;
}
.groove-colled-sy-nav-box {
	padding-right: 0;
	padding-bottom: 15px;
	border-bottom: 1px dashed #d9d9d9;
}
.gecd-table {
	font-weight: bold;
}
.groove-sy-nav-box {
	padding-right: 0;
}
.groove-sy-nav-box .hf-sy-nav-item {
	margin-right: 30px;
}
.groove-sy-nav-box .hf-sy-nav-item:first-child .hf-sy-nav-link {
	padding: 0;
}
.hf-sy-nav-list {
	line-height: 34px;
	font-size: 0;
}
.hf-sy-nav-item {
	position: relative;
	margin-right: 35px;
}
.hf-fm-sts .itm-wrapper {
	left: 63px;
  bottom: 12px;
}
.hf-fm-sts .hf-sy-nav-link {
	padding-right: 20px;
}
.groove-sy-nav-box .hf-sy-nav-link {
	color: #777;
}
.hf-sy-nav-link {
	position: relative;
	display: block;
	padding: 0 10px;
	font-size: 14px;
	cursor: pointer;
}
.hf-sy-nav-link:hover, .hf-sy-nav-link.seled {
	color: #000 !important;
	font-weight: bold;
}
.hf-sy-nav-link:before {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 1px;
	background-color: #000;
	content: '';
	visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
   -ms-transform: scaleX(0);
       transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: 1;
}
.hf-sy-nav-link:hover:before, .hf-sy-nav-link.seled:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
   -ms-transform: scaleX(1);
       transform: scaleX(1);
}
.hf-sy-nav-btn {
	display: block;
	line-height: 16px;
	padding: 2px 8px;
	font-size: 14px;
	cursor: pointer;
	border: 1px solid #888;
	-moz-border-radius: 8px;
	     border-radius: 8px;
}
.hf-sy-nav-solt {
	position: absolute;
	right: 0;
	top: 0;
	padding-left: 30px;
	font-size: 14px;
	line-height: 34px;
	z-index: 11;
	background-color: #fff;
}
.hf-sy-nav-solt-box {
	position: relative;
	text-align: center;
}
.hf-sy-nav-solt-name {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 34px;
	font-size: 14px;
}
.hf-sy-nav-solt-view {
	display: block;
	padding: 0 20px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../home-of/images/pull-down-2.png);
	cursor: pointer;
}
.hf-sy-nav-solt-view.seled {
	background-image: url(../home-of/images/pull-down-4.png);
	cursor: default;
}
.hf-sy-nav-solt-list {
	display: none;
	position: absolute;
	width: 100%;
	top: 34px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
}
.hf-sy-nav-solt-item {
	line-height: 30px;
	cursor: pointer;
}
.hf-sy-nav-solt-item.has-ic {
	background-repeat: no-repeat;
	background-position: 90% center;
	background-image: url(../home-of/images/trw.png);
}
.hf-sy-nav-solt-item:hover {
	background-color: #f03e4d;
	color: #fff;
}
.hf-sy-nav-solt-item.has-ic:hover {
	background-image: url(../home-of/images/trw-1.png);
}

.home-of-ct-list-box {
	padding-top: 30px;
	overflow: hidden;
}
.home-of-home-of-ct-item {
	float: left;
	width: 33.333%;
}
.home-of-ct-item-link {
	display: block;
	padding: 0 16px 30px;
}
.home-of-ct-item-img {
	display: block;
	position: relative;
	height: 260px;
	overflow: hidden;
	cursor: pointer;
}
.home-of-ct-item-table {
	display: block;
	position: absolute;
	left: 20px;
	bottom: 0px;
	line-height: 26px;
	padding: 0 6px 0 5px;
	background-color: #fff;
	font-size: 14px;
	color: #000;
	letter-spacing: 1px;
	white-space: nowrap;
	font-weight: bold;
	z-index: 1;
}
.home-of-ct-item-bold {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}
.home-of-ct-item-img:hover .home-of-ct-item-bold {
	opacity: 1;
	filter: alpha(opacity=100);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}
.home-of-ct-item-img:hover .hf-sp-pic {
	-webkit-transform: scale(1.05);
	   -moz-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
}
.bold-bg {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
}
.home-of-ct-item-tabimg {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	background-repeat: no-repeat;
	background-position: center;
}
.pic-box {
	background-image: url(../home-of/images/k-1.png);
}
.txt-box {
	background-image: url(../home-of/images/k-2.png);
}
.video-box {
	background-image: url(../home-of/images/k-3.png);
}
.home-of-ct-item-tle {
	display: block;
	margin: 26px 0 8px 0;
	line-height: 26px;
	height: 52px;
	font-size: 18px;
	overflow: hidden;
}
.home-of-ct-item-desc {
	display: block;
	line-height: 20px;
	height: 60px;
	font-size: 12px;
	color: #808080;
	overflow: hidden;
}
.collected-btn {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../home-of/images/c-1.png);
	z-index: 20;
}
.collected-btn.seled {
	background-image: url(../home-of/images/c-2.png);
}
.pagenav-wrapper {
	text-align: center;
	font-size: 0;
}
.pagenav-prev, .pagenav-next {
	display: none;
}
.ppisShow {
	display: inline-block !important;
}
.pagenav-prev, .pagenav-next, .pagenav-item {
	position: relative;
	margin: 0 2px;
	width: 70px;
	height: 50px;
	cursor: pointer;
}
.pagenav-item.seled {
	cursor: default;
}
.pagenav-prev:before, .pagenav-next:before, .pagenav-item:before {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #ededed;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.pagenav-prev:hover:before, .pagenav-next:hover:before,.pagenav-item:hover:before, .pagenav-item.seled:before {
	background-color: #828282;
}
.pagenav-prev-btn {
	display: block;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../home-of/images/i-7.jpg);
}
.pagenav-next-btn {
	display: block;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../home-of/images/i-2.jpg);
}
.pagenav-btn {
	display: block;
	height: 100%;
	line-height: 20px;
	font-size: 12px;
}
.home-of-footer {
	padding-top: 60px;
	width: 100%;
	/*min-width: 1400px;*/
	overflow: hidden;
}
.home-of-footer-list {
	margin-bottom: 10px;
	overflow: hidden;
}
.home-of-footer-item {
	float: left;
	width: 25%;
}
.home-of-footer-item-link {
	display: block;
}
.home-of-ft-item-img {
	display: block;
	position: relative;
	overflow: hidden;
}
.home-of-ft-item-bold {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.home-of-ft-item-bold .bold-bg {
	opacity: 0.75;
	filter: alpha(opacity=75);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
}
.home-of-ft-item-img:hover .bold-bg {
	opacity: 0.85;
	filter: alpha(opacity=85);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';
}
.home-of-ft-item-img:hover .hf-ft-pic {
	-webkit-transform: scale(1.05);
	   -moz-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
}
.home-of-ft-item-tabimg {
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	text-align: center;
	color: #fff;
}
.home-of-ft-item-tle {
	position: relative;
	display: block;
	padding-left: 2px;
	line-height: 50px;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}
.home-of-ft-item-tle .itm-wrapper {
	width: 20px;
	left: 50%;
	bottom: 13px;
	margin-left: 60px;
}
.home-of-ft-item-tle .itm-box {
	width: 3px;
	background-color: #fff;
}
.home-of-ft-item-tle .itm-2 {
	left: 5px;
}
.home-of-ft-item-tle .itm-3 {
	left: 9px;
}
.home-of-ft-item-tle .itm-4 {
	left: 13px;
}
.home-of-ft-item-tle .itm-5 {
	left: 17px;
}
.home-of-ft-item-desc {
	display: block;
	padding-left: 8px;
	line-height: 36px;
	font-size: 16px;
	font-weight: bold;
}
.home-of-footer-hr {
	height: 10px;
	background-color: #000;
}

.home-of-silder {
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: 700px;
	width: 30px;
	z-index: 10;
}
.home-of-silder.fixed-slider {
	position: fixed;
	top: 150px;
}
.hf-slider-item {
	display: block;
	position: relative;
	height: 40px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
}
.hf-slider-item:hover .hf-slider-item-erCode {
	display: block;
}
.hf-slider-item-erCode {
	display: none;
	position: absolute;
	left: 45px;
	top: 0;
	padding: 10px;
	width: 100px;
	background-color: #fff;
	border: 1px solid #c2c2c2;
}
.hf-slider-item.ic-1 {
	background-image: url(../home-of/images/t-1.png);
}
.hf-slider-item.ic-1:hover {
	background-image: url(../home-of/images/t-2.png);
}
.hf-slider-item.ic-2 {
	background-image: url(../home-of/images/g-1.png);
}
.hf-slider-item.ic-2:hover {
	background-image: url(../home-of/images/g-1-1.png);
}
.hf-slider-item.ic-3 {
	background-image: url(../home-of/images/g-2.png);
}
.hf-slider-item.ic-3:hover {
	background-image: url(../home-of/images/g-2-1.png);
}
.hf-slider-item.ic-4 {
	background-image: url(../home-of/images/g-3.png);
}
.hf-slider-item.ic-4:hover {
	background-image: url(../home-of/images/g-3-1.png);
}
.hf-slider-item.ic-5 {
	background-image: url(../home-of/images/g-4.png);
}
.hf-slider-item.ic-5:hover {
	background-image: url(../home-of/images/g-4-1.png);
}
.hf-slider-item.ic-6:hover {
	color: #ff8c90;
}
.hf-sy-nav-retails-wrapper {
	position: absolute;
	left: 0;
	top: 35px;
	width: 100%;
	background-color: #f7f7f7;
	border-bottom: 2px solid #ff8c90;
	z-index: 99;
	overflow: hidden;
}
.hf-sy-nav-retails {
	position: relative;
	margin-top: 10px;
	padding: 0 0 20px 125px;
}
.hfsy-tle {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 30px;
	padding-left: 40px;
	font-size: 14px;
	background-repeat: no-repeat;
}
.hfsy-itm-1 .hfsy-tle {
	background-position: 10px center;
	background-image: url(../home-of/images/f-1.png);
}
.hfsy-itm-2 .hfsy-tle {
	background-position: 18px center;
	background-image: url(../home-of/images/f-2.png);
}
.hfsy-itm-3 .hfsy-tle {
	background-position: 10px center;
	background-image: url(../home-of/images/f-3.png);
}
.hfsy-itm-4 .hfsy-tle {
	background-position: 11px center;
	background-image: url(../home-of/images/f-4.png);
}
.seled-name-ctr {
	display: block;
	line-height: 30px;
	font-size: 14px;
	width: 125px;
	border-bottom: 1px solid #d9d9d9;
}
.hfsy-rsct-list {
	padding-top: 15px;
	font-size: 0;
}
.item-styl {
	width: 276px;
}
.hfsy-rsct-item {
	margin-right: 36px;
	line-height: 30px;
	font-size: 14px;
	cursor: pointer;
}
.hfsy-rsct-es {
	position: relative;
	overflow: hidden;
}
.hfsy-rsct-es .hfsy-rsct {
	float: left;
}
.item-styl .hfsy-rsct-item {
	font-size: 12px;
}
.hfsy-rsct-hr {
	position: absolute;
	left: 400px;
	top: -10px;
	height: 200%;
	width: 1px;
	background-color: #d9d9d9;
}
.item-styl-2 {
	padding-left: 50px;
}
.item-styl .hfsy-rsct-item {
	margin-right: 0;
	width: 30%;
	text-align: center;
	color: #636363;
}
.item-styl .hfsy-rsct-item:nth-child(3n-2) {
	text-align: left;
}
.hfsy-rsct-icon {
	display: block;
	margin: 0 auto;
	width: 45px;
	height: 45px;
	background-position: center;
	background-repeat: no-repeat;
}
.hfsy-rsct-icon.jc-ic-1 {
	background-image: url(../home-of/images/s-1.png);
}
.hfsy-rsct-icon.jc-ic-2 {
	background-image: url(../home-of/images/s-2.png);
}
.hfsy-rsct-icon.jc-ic-3 {
	background-image: url(../home-of/images/s-3.png);
}
.hfsy-rsct-icon.jc-ic-4 {
	background-image: url(../home-of/images/s-4.png);
}
.hfsy-rsct-icon.jc-ic-5 {
	background-image: url(../home-of/images/s-5.png);
}
.hfsy-rsct-icon.jc-ic-6 {
	background-image: url(../home-of/images/s-6.png);
}
.hfsy-rsct-txt {
	display: block;
	text-align: center;
	white-space: nowrap;
}
.item-styl-2 .hfsy-rsct-item {
	margin-right: 50px;
	color: #636363;
}
.item-styl-3 .hfsy-rsct-item {
	margin-right: 50px;
}
.hfsy-rsct-icon.wx-ic-1 {
	background-image: url(../home-of/images/b-1.png);
}
.hfsy-rsct-icon.wx-ic-2 {
	background-image: url(../home-of/images/b-2.png);
}
.hfsy-rsct-icon.wx-ic-3 {
	background-image: url(../home-of/images/b-3.png);
}
.hfsy-rsct-icon.wx-ic-4 {
	background-image: url(../home-of/images/b-4.png);
}
.hfsy-rsct-icon.wx-ic-5 {
	background-image: url(../home-of/images/b-5.png);
}
.hfsy-rsct-icon.wx-ic-6 {
	background-image: url(../home-of/images/b-6.png);
}
.hfsy-rsct-icon.wx-ic-7 {
	background-image: url(../home-of/images/b-7.png);
}
.hfsy-rsct-icon.wx-ic-8 {
	background-image: url(../home-of/images/b-8.png);
}
.hfsy-rsct-icon.wx-ic-9 {
	background-image: url(../home-of/images/b-9.png);
}
.hfsy-rsct-icon.wx-ic-10 {
	background-image: url(../home-of/images/b-10.png);
}
.home-of-title-box.groove-title-box {
	height: 190px;
}
.groove-title-box .home-of-title-icon {
	top: 30px;
}
.groove-ctr {
	position: absolute;
	left: 185px;
	right: 0;
	bottom: 0;
}
.set-ge-btn {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid #f798a0;
	border-radius: 2px;
}
.ge-btn {
	font-size: 14px;
	padding: 1px 4px;
	border-radius: 2px;
	cursor: pointer;
}
.ge-btn.esp {
	background-color: #f03e4d;
	color: #fff;
}
.up-ge-img {
	position: relative;
	padding-left: 15px;
	cursor: pointer;
}
.up-ge-img-view {
	display: none;
	position: absolute;
	right: -20px;
	top: 35px;
	width: 110px;
	border: 1px solid #d3d3d3;
	background-color: #fff;
	border-radius: 3px;
	z-index: 100;
}
.up-ge-tate-view {
	display: none;
	position: absolute;
	left: 20px;
	top: 35px;
	width: 190px;
	border: 1px solid #d3d3d3;
	background-color: #fff;
	border-radius: 3px;
	z-index: 100;
}
.ge-tate-view {
	padding: 10px 0 10px 10px;
	font-size: 0;
}
.ge-tate-item {
	padding-right: 15px;
	line-height: 20px;
	font-size: 14px;
	color: #777777;
}
.ge-tate-item:hover {
	color: #f03e4d;
}
.up-ge-close {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../home-of/images/ic_x.png);
}
.up-ge-tate-view .up-ge-roow {
	left: 30px;
	right: auto;
}
.up-ge-roow {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	right: 30px;
	top: -20px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-image: url(../home-of/images/roow.png);
}
.ge-img-view {
	width: 110px;
	overflow: hidden;
}
.ge-view-img {
	display: block;
	margin: 0 auto;
	padding: 25px 0 20px;
	width: 70px;
}
.upimg-btn {
	position: relative;
	display: block;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(../home-of/images/ul-img.png);
	overflow: hidden;
	cursor: pointer;
}
#chooseImg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	cursor: pointer;
}
.tate-ic {
	color: #f03e4d;
	padding-right: 5px;
}
.groove-ctr-btn {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0;
}
.ge-record-desc {
	display: none;
	position: absolute;
	right: 130px;
	top: 0;
	width: 400px;
	line-height: 26px;
	text-align: right;
	font-size: 12px;
	color: #b2b2b2;
}
.recording-time {
	display: none;
	position: absolute;
	right: 130px;
	top: 0;
	width: 400px;
	line-height: 26px;
	text-align: right;
	font-size: 0px;
}
#recordingslist {
	display: none;
}
.recording-ctr {
	display: none;
	position: absolute;
	right: 130px;
	top: 0;
	width: 400px;
	line-height: 26px;
	text-align: right;
	font-size: 0px;
}
.recording-times {
	font-size: 14px;
	color: #f03e4d;
}
.recording-play-btn {
	width: 30px;
	height: 26px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../home-of/images/adio-4.png);
}
.recording-play-btn.isPlay {
	background-image: url(../home-of/images/adio-5.png);
}
.recording-del-btn {
	margin-left: 5px;
	width: 30px;
	height: 26px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../home-of/images/adio-3.png);
}
.recording-line-bar {
	margin: 0 15px 0 0;
	width: 70px;
	height: 26px;
}
.an-icon {
	width: 3px;
	height: 3px;
	background-color: #f03e4d;
	border-radius: 100%;
	-webkit-animation: twinkling 0.5s infinite ease-in-out;
	-moz-animation: twinkling 0.5s infinite ease-in-out;
	animation: twinkling 0.5s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.retime-wrapper {
	padding-left: 10px;
	font-size: 14px;
}
@-webkit-keyframes twinkling {
	0% {opacity: 0.3;},
	100% {opacity: 1;}
}
@keyframes twinkling {
	0% {opacity: 0.3;},
	100% {opacity: 1;}
}
@-moz-keyframes twinkling {
	0%{opacity: 0.3;},
	100%{opacity: 1;}
}
.sublime-btn {
	line-height: 26px;
	width: 90px;
	height: 26px;
	font-size: 14px;
	text-align: center;
	border-radius: 2px;
	color: #fff;
	background-color: #f03e4d;
	cursor: pointer;
}
.ly-btn {
	width: 40px;
	height: 26px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../home-of/images/adio.png);
	cursor: pointer;
}
.ly-btn.start {
	background-image: url(../home-of/images/adio-1.png);
}
.ly-btn.end {
	background-image: url(../home-of/images/adio-2.png);
}
.groove-nav-wrapper {
	padding: 30px 0;
	text-align: center;
	font-size: 0;
}
.groove-tab-nav-wrapper {
	padding: 30px 0 20px;
}
.groove-nav-item {
	line-height: 20px;
	margin: 0 50px;
	padding-left: 25px;
	background-position: left center;
	background-repeat: no-repeat;
	color: #bababa;
	font-size: 14px;
}
.groove-nav-item.esp, .groove-nav-item:hover {
	color: #000;
}
.gnim-ic-1 {
	background-image: url(../home-of/images/adio-16.png);
}
.gnim-ic-2 {
	background-image: url(../home-of/images/adio-11.png);
}
.gnim-ic-3 {
	background-image: url(../home-of/images/adio-12.png);
}
.gnim-ic-1.esp, .gnim-ic-1:hover {
	background-image: url(../home-of/images/adio-10.png);
}
.gnim-ic-2.esp, .gnim-ic-2:hover {
	background-image: url(../home-of/images/adio-13.png);
}
.gnim-ic-3.esp, .gnim-ic-3:hover {
	background-image: url(../home-of/images/adio-15.png);
}
.groove-list-wrapper {
	position: relative;
	padding-top: 10px;
	margin: 0 5px; 
}
.border-bool-l {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 9px;
	background-color: #fff;
	z-index: 10;
}
.border-bool-r {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 9px;
	background-color: #fff;
	z-index: 10;
}
.border-bool-b {
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 2px;
	width: 100%;
	background-color: #fff;
	z-index: 100;
}
.groove-list-tab {
	position: relative;
}
.clear-both {
	clear: both;
}
.groove-item {
	position: relative;
	float: left;
	margin-top: 10px;
	width: 25%;
}
.groove-table-itrm {
	padding-bottom: 15px;
	margin-top: 15px;
	border-bottom: 1px dashed #e3e3e3;
}
.groove-item-ctr {
	position: relative;
	margin: 0 auto;
	width: 280px;
	background-color: #f6f6f6;
}
.groove-item:hover .groove-item-ctr {
	box-shadow: 0px 0px 20px -5px #ccc;
}
.groove-item-user {
	padding: 10px;
	border-top: 1px solid #fff;
}
.uptle-btn-not {
	display: none;
	color: #777777;
}
.groove-item-txt {
	padding: 7px 10px;
	height: 140px;
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
	color: #777777;
}
.groove-item-avatar {
	margin-right: 15px;
	width: 37px;
	height: 37px;
	overflow: hidden;
}
.gm-name {
	font-size: 14px;
	color: #777777;
}
.gm-colled-btn {
	float: right;
	width: 37px;
	height: 37px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../home-of/images/adio-6.png);
	cursor: pointer;
}
.gm-colled-btn.esp {
	background-image: url(../home-of/images/adio-7.png);
}
.groove-item-img {
	display: block;
	position: relative;
	width: 280px;
	height: 255px;
	overflow: hidden;
	cursor: pointer;
}
.groove-table-item-img {
	display: block;
	position: relative;
	margin-bottom: 5px;
	width: 280px;
	height: 280px;
	overflow: hidden;
	cursor: pointer;
}
.report-btn-wrapper {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../home-of/images/adio-8.png);
	z-index: 1;
}
.report-btn-wrapper:hover {
	background-image: url(../home-of/images/adio-9.png);
}
.groove-not-data {
	text-align: center;
}
.gnd-img {
	display: block;
	margin: 0 auto;
	padding: 100px 0 50px;
	width: 400px;
}
.gnd-end-img {
	display: block;
	margin: 0 auto;
	padding: 50px 0 20px;
	width: 33px;
}
.gnd-end-txt {
	font-size: 14px;
	color: #777;
}
.gnd-txt {
	font-size: 14px;
}
.gnd-txt a {
	color: #f03e4d;
}
.groove-win-wrapper, .groove-table-win-wrapper {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999999;
}
.win-bg {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
}
.groove-win-ct {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -375px;
	width: 750px;
	height: 480px;
	background-color: #fff;
}
.groove-win-tle {
	line-height: 70px;
	height: 70px;
	border-bottom: 3px solid #000;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 4px;
	padding-left: 4px;
	text-align: center;
}
.groove-win-close-btn, .groove-table-win-close-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../public/images/close.png);
	-webkit-background-size: 20px;
	background-size: 20px;
	cursor: pointer;
}
.groove-win-remark {
	padding: 30px 35px;
	font-size: 16px;
}
.groove-win-remarks {
	padding-top: 
	line-height: 20px;
	padding-bottom: 35px;
	font-size: 14px;
	text-align: center;
}
.groove-tab-win-remarks {
	line-height: 20px;
	padding-top: 130px;
	padding-bottom: 80px;
	font-size: 14px;
	text-align: center;
}
.groove-explain-link {
	color: #f03e4d;
}
.groove-win-ct-list {
	overflow: hidden;
}
.groove-win-ct-item {
	float: left;
	padding-bottom: 35px;
	width: 33.33333%;
	text-align: center;
	font-size: 0;
}
.sel-geim-btn {
	position: relative;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(../public/images/select-icon.png);
}
.sel-geim-btn.seled {
	background-image: url(../public/images/selected-icon.png);
}
.sel-geim-checkbox {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}
.geim-desc {
	line-height: 30px;
	font-size: 14px;
}
.groove-win-sumbit-btn, .groove-table-win-sumbit-btn {
	margin: 0 auto;
	width: 150px;
	line-height: 40px;
	border-radius: 3px;
	text-align: center;
	color: #ff8c90;
	font-weight: bold;
	font-size: 14px;
	background-color: #000;
	cursor: pointer;
}
#groove-list-content {
	display: none;
}
.getb-list-btn-wrapper {
	position: absolute;
	left: 12px;
	top: 12px;
	padding: 2px 5px;
	font-size: 14px;
	color: #fff;
	border: 1px solid #f03e4d;
	border-radius: 3px;
	z-index: 13;
}
.getb-num-btn-wrapper {
	position: absolute;
	left: 12px;
	bottom: 12px;
	padding: 2px 5px;
	font-size: 14px;
	color: #fff;
	border: 1px solid #f03e4d;
	border-radius: 3px;
	z-index: 13;
}
.getb-del-btn-wrapper {
	position: absolute;
	right: 12px;
	bottom: 12px;
	width: 26px;
	height: 26px;
	font-size: 14px;
	color: #fff;
	border: 1px solid #f03e4d;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../home-of/images/ge-del.png);
	cursor: pointer;
	z-index: 13;
}
.getb-list-btn-wrapper:hover, .getb-num-btn-wrapper:hover, .getb-del-btn-wrapper:hover {
	background-color: #f03e4d;
} 
.groove-table-item-pic {
	width: 285px;
	margin-left: -2.5px;
	font-size: 0;
}
.groove-table-item-pic-recoed {
	margin: 0 2.5px;
	width: 90px;
	height: 90px;
	overflow: hidden;
}
.groove-item-link {
	position: absolute;
	left: 8px;
	top: 0;
	right: 8px;
	bottom: 15px;
	border: 3px solid #f03e4d;
	border-top: none;
	opacity: 0;
	filter: alpha(opacity=0);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	cursor: pointer;
	z-index: 12;
}
.groove-item:hover .groove-item-link {
	opacity: 1;
	filter: alpha(opacity=100);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}
.groove-item-icon-bool {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 20px;
	border-radius: 3px 0 0 3px;
	background-color: #f03e4d;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../home-of/images/adio-14.png);
	cursor: move;
}