@charset"UTF-8";
.urio-ctr-wrapper {
	position: relative;
}
.urio-wrapper {
	padding: 20px 0;
}
.urio-item-box {
	position: relative;
	padding: 7px 0 7px 120px;
	font-size: 0;
}
.urio-item-box.oper-styl {
	padding: 14px 0 14px 120px;
}
.urio-item-tle {
	position: absolute;
	left: 0;
	top: 7px;
	line-height: 28px;
	font-size: 14px;
	letter-spacing: 2px;
}
.urio-item-box.oper-styl .urio-item-tle {
	top: 14px;
}
.urio-item-txt {
	line-height: 28px;
	font-size: 14px;
	letter-spacing: 2px;
}
.urio-avatar-box {
	position: absolute;
	right: 60px;
	top: 35px;
	z-index: 1;
}
.change-avatar-btn {
	cursor: pointer;
}
.urio-avatar-ctr {
	position: relative;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 100%; 
	overflow: hidden;
}
.urio-avatar-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -36px 0 0 -36px;
}
.urio-avatar-name {
	display: block;
	padding-top: 10px;
	padding-left: 2px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 2px;
}
.revise-urio-btn {
	display: block;
	line-height: 34px;
	margin-top: 14px;
	padding-left: 2px;
	width: 100px;
	height: 34px;
	text-align: center;
	color: #ff8c90;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
}
.urio-item-input-box {
	width: 154px;
	border: 1px solid #bdb9b8;
	overflow: hidden;
}
.urio-item-input {
	width: 100%;
	line-height: 28px;
	height: 28px;
	padding-left: 2px;
	text-align: center;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	letter-spacing: 2px
}
.urio-item-input-box.in-focus, .urio-item-input-box.in-focus .urio-item-input {
	border-bottom: 1px solid #000;
}
.detection-urio-name {
	margin-left: 30px;
	line-height: 28px;
	padding-left: 2px;
	width: 100px;
	height: 28px;
	text-align: center;
	color: #ff8c90;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
}
.urio-item-input-error {
	position: absolute;
	left: 306px;
	top: 46px;
	padding: 8px 10px;
	line-height: 16px;
	font-size: 12px;
	color: #666;
	z-index: 1;
}
.urio-item-input-error.isError {
	color: #a80000;
}
.urio-item-radio-box {
	position: relative;
	line-height: 28px;
	margin-right: 25px;
	padding-left: 30px;
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(../public/images/radio.png);
}
.urio-item-radio-box.seled {
	background-image: url(../public/images/radioed.png);
}
.urio-item-radio {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
	filter: alpha(opacity=0);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.urio-item-select-box {
	position: relative;
	line-height: 26px;
	margin-right: 20px;
	width: 64px;
	height: 26px;
	border: 1px solid #666;
}
.urio-item-select {
	position: absolute;
	left: 0px;
	top: 4px;
	z-index: 1;
	padding: 0 8px 0 18px;
	border: none;
	font-size: 14px;
	color: #222021;
}
.urio-item-select.urio-years {
	padding: 0 2px 0 8px;
}
.urio-item-select-desc {
	display: block;
	line-height: 40px;
	font-size: 14px;
}
.urio-sign-box {
	font-size: 0;
}
.urio-sign-tle {
	line-height: 34px;
	width: 100px;
	font-size: 14px;
	letter-spacing: 2px;
}
.urio-sign-txt {
	line-height: 34px;
	width: 300px;
	font-size: 14px;
	letter-spacing: 2px;
}
.urio-sign-btn {
	line-height: 32px;
	margin-right: 35px;
	padding-left: 2px;
	width: 100px;
	font-size: 14px;
	letter-spacing: 2px;
	border: 1px solid #bdbdbd;
	text-align: center;
}
.urio-sign-btn.oper-btn {
	color: #ff8c90;
	cursor: pointer;
}
.urio-sign-oper-box {
	display: none;
	margin-top: 10px;
	padding: 10px 0;
	border-top: 1px dashed #222021;
}
.urio-sign-oper-item {
	padding: 10px 0;
}
.urio-sign-code-btn {
	line-height: 34px;
	margin-right: 35px;
	padding-left: 2px;
	width: 140px;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: center;
	color: #ff8c90;
	cursor: pointer;
}
.urio-sign-code-btn.not-click, .urio-sign-code-btn.not-click:hover {
	background-color: #ccc;
	color: #fff;
	cursor: default;
}
.urio-sign-group, .urio-sign-wrapper {
	padding: 10px 0;
}
.urio-sign-group {
	position: relative;
}
.urio-sign-error {
	display: none;
	position: absolute;
	left: 100px;
	top: 35px;
	padding: 0 10px;
	line-height: 26px;
	letter-spacing: 2px;
	font-size: 14px;
	z-index: 1;
	color: #a40000;
	border-radius: 3px;
}
.urio-sign-error.desc-status {
	color: #666;
}
.urio-sign-oper {
	position: relative;
	margin: 0 45px 0 20px;
	padding-left: 125px;
	width: 210px;
	border: 1px solid #bdb9b8;
	background-repeat: no-repeat;
	background-position: 98% center;
	background-image: url(../public/images/essential-icon.png); 
}
.urio-sign-oper.urio-code-box {
	margin-right: 95px;
	width: 160px;
}
.urio-sign-oper-tle {
	display: block;
	position: absolute;
	left: 15px;
	top: 0;
	line-height: 32px;
	padding-left: 25px;
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: left center;
}
.email-icon {
	background-image: url(../public/images/email.png);
}
.code-icon {
	background-image: url(../public/images/code-icon.png);
}
.mb-icon {
	background-image: url(../public/images/mb.png);
}
.old-pd {
	background-image: url(../public/images/old-pd.png);
}
.new-pd {
	background-image: url(../public/images/n-pd.png);
}
.affirm-pd {
	background-image: url(../public/images/pw-icon.png);
}
.urio-sign-oper-input {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.urio-sign-oper.in-focus {
	border-bottom: 2px solid #000;
}
.urio-sign-three-desc {
	padding-top: 16px;
	font-size: 14px;
	letter-spacing: 2px;
}
.urio-sign-three-styl {
	font-weight: bold;
}
.urio-sign-three-list {
	margin-top: 30px;
	overflow: hidden;
}
.urio-sign-three-item {
	float: left;
	margin-right: 80px;
	width: 60px;
	text-align: center;
}
.urio-sign-three-icon {
	display: block;
	width: 60px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
}
.wx-type.binded .urio-sign-three-icon {
	background-image: url(../public/images/wechat-hover.png);
}
.wx-type.unbind .urio-sign-three-icon {
	background-image: url(../public/images/wechat.png);
}
.qq-type.binded .urio-sign-three-icon {
	background-image: url(../public/images/qq-hover.png);
}
.qq-type.unbind .urio-sign-three-icon {
	background-image: url(../public/images/qq.png);
}
.wb-type.binded .urio-sign-three-icon {
	background-image: url(../public/images/microblog-hover.png);
}
.wb-type.unbind .urio-sign-three-icon {
	background-image: url(../public/images/microblog.png);
}
.urio-sign-three-name {
	padding-left: 2px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
}
.unbind .urio-sign-three-name {
	color: #828282;
}

.tailoring-box-parcel {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 10px;
	border: 1px solid #e8e8e8;
	background-color: #f1f2f5;
	overflow: hidden;
}
.select-img-btn {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -22.5px 0 0 -25px;
	width: 50px;
	height: 45px;
	background-image: url(../public/images/sel-img.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	cursor: pointer;
}
#chooseImg {
	position: absolute;
	left: -100%;
	opacity: 0;
	filter: alpha(opacity=0);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}
.tailoring-box-parcel:hover {
	background-color: #e6e8eb;
}
.circular {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	overflow: hidden;
}
.tailoring-content {
	position: relative;
	padding-top: 80px;
	text-align: center;
	font-size: 0;
}
.sureCut {
	margin: 0 auto 60px;
	padding-left: 2px;
	line-height: 36px;
	width: 110px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #fff;
	text-align: center;
	background-color: #9f9f9f;
}
.global-btn-styl {
	color: #ff8c90;
	background-color: #000;
	cursor: pointer;
}
.sureCut-decs {
	padding: 40px 0 30px 2px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 14px;
}
.select-img-again {
	display: none;
	position: absolute;
	top: 280px;
	left: 50%;
	line-height: 40px;
	padding-left: 25px;
	margin-left: -186px;
	width: 66px;
	height: 40px;
	font-size: 14px;
	letter-spacing: 2px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(../public/images/refresh.png); 
	cursor: pointer;
}
.select-img-again:hover {
	color: #9c0107;
	background-image: url(../public/images/refreshed.png); 
}
.circular-desc {
	line-height: 60px;
	padding-left: 2px;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: center;
}
#tailoringImg {
	width: 100%;
}
.tailoring-content-r {
	position: relative;
	padding: 20px 100px 20px 81px;
}
.hr-m {
	position: absolute;
	left: 40px;
	top: 0;
	width: 1px;
	height: 200px;
	background-color: #e8e8e8;
}
.user-cpm-content {
	padding-bottom: 1px;
}
.urio-avatar-desc {
	padding-left: 2px;
	line-height: 30px;
	position: absolute;
	top: 15px;
	left: 0;
	right: 0;
	font-size: 14px;
	letter-spacing: 2px;
	color: #b3494d;
}
.cropper-point, .cropper-line {
	background-color: transparent;
	border: 1px solid #fff;
}
.cropper-view-box {
	outline: 1px solid #fff;
}
.cropper-point.point-ne {
  right: -7px;
  top: -7px;
}
.cropper-point.point-se {
	bottom: -7px;
	right: -7px;
}
.cropper-point.point-sw {
  bottom: -7px;
  left: -7px;
}
.cropper-point.point-nw {
  left: -7px;
  top: -7px;
}
.cropper-point.point-n, .cropper-point.point-s, .cropper-point.point-e, .cropper-point.point-w {
	opacity: 0;
	filter: alpha(opacity=0);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}