@charset"UTF-8";
.goods-detail-info-wrapper {
	overflow: hidden;
}
.gd-img-wrapper {
	position: relative;
	width: 50%;
	background-color: #eff2f7;
}
.gd-img-nav {
	position: absolute;
	top: 21%;
	left: 10%;
	width: 6.5%;
}
.img-config-btn {
	display: block;
	padding-top: 100%;
	height: 0;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.img-prev-btn {
	background-image: url(./images/arrow-top.png);
	cursor: default;
}
.img-prev-btn.has-more {
	background-image: url(./images/arrow-top-1.png);
	cursor: pointer;
}
.img-next-btn {
	background-image: url(./images/arrow-bottom.png);
	cursor: default;
}
.img-next-btn.has-more {
	background-image: url(./images/arrow-bottom-1.png);
	cursor: pointer;
}
.img-nav-list-wrapper {
	position: relative;
	padding-top: 520%;
	height: 0;
	overflow: hidden;
}
.img-nav-list {
	position: absolute;
	top: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}
.img-nav-item {
	position: relative;
	padding-top: 100%;
	margin-bottom: 40%;
	height: 0;
	overflow: hidden;
	opacity: 0.6;
	filter: alpha(opacity=60);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
}
.img-nav-item.now-page {
	opacity: 1;
	filter: alpha(opacity=100);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}
.gd-small-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	cursor: pointer;
	z-index: 1;
}
.gd-img-view {
	padding-left: 20%;
}
.gd-big-img {
	width: 100%;
}

.goods-detail-desc-wrapper {
	width: 50%;
}
.gd-txt-info {
	padding-left: 8%;
}
.goods-name {
	padding: 6% 0 7px 0;
	line-height: 28px;
	font-size: 0;
}
.goods-name-txt {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;
}
.goods-name-hr {
	margin: 0 10px;
	width: 5px;
	height: 5px;
	background-color: #000;
}
.goods-series {
	padding: 4px 0;
	line-height: 24px;
	font-size: 20px;
	color: #494a4a;
	font-weight: bold;
	letter-spacing: 1px;
}
.goods-price {
	padding: 7px 0px;
	line-height: 20px;
	font-size: 16px;
}
.goods-price.old-price {
	line-height: 16px;
	padding: 4px 0px;
	font-size: 0;
}
.goods-old-price-desc {
	padding: 0 3px;
	margin-right: 5px;
	font-size: 12px;
	color: #b34d49;
	border: 1px solid #b34d49;
	font-weight: bold;
}
.old-price-num {
	position: relative;
	padding: 0 2px;
	font-size: 12px;
	color: #252525;
}
.old-price-hr {
	display: block;
	position: absolute;
	top: 8px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #252525;
}
.goods-color {
	padding: 7px 0;
	font-size: 0;
	letter-spacing: 2px;
}
.goods-color-desc {
	font-size: 16px;
	color: #010101;
}
.goods-color-name {
	padding-right: 10px;
	font-size: 16px;
	color: #010101;
}
.goods-color-item {
	position: relative;
	margin-right: 2px;
	width: 21px;
	height: 22px;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
}
.goods-color-item.colorSel {
	background-image: url(./images/colorSel.png);
}
.goods-color-item-view {
	position: absolute;
	left: 3px;
	top: 3px;
	width: 13px;
	height: 14px;
	border: 1px solid #e3e3e3;
}
.goods-size-wrapper {
	position: relative;
	margin-top: 10px; 
	width: 360px;
	cursor: pointer;
}
.goods-size-view {
	display: block;
  line-height: 40px;
  padding-left: 3px;
  border: 1px solid #b7b7b7;
  letter-spacing: 3px;
  font-size: 14px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-image: url(../public/images/pull-down.png);
}
.goods-size-view.is-show {
	background-image: url(../public/images/pull-down-3.png);
}
.size-view-num {
	font-weight: bold;
}
.goods-size-list {
	display: none;
	position: absolute;
	top: 42px;
	left: 0;
	width: 100%;
  border-bottom: 1px solid #b7b7b7;
  background-color: #fff;
  z-index: 1;
}
.goods-size-item {
	position: relative;
}
.goods-size-item-num {
	display: block;
	line-height: 40px;
	padding-left: 3px;
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	letter-spacing: 3px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.goods-size-item-num:hover {
	background-color: #b34d49;
	color: #fff;
}
.has-store-status {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	cursor: default;
}
.not-size .has-store-status {
	display: block;
}
.not-size .goods-size-item-num {
	color: #808080;
}
.store-reserve-btn {
	margin-top: 10px;
	width: 357px;
	line-height: 50px;
	padding-left: 3px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 3px;
	background-color: #828282;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.add-goods-btn {
	position: relative;
	margin-top: 10px;
	width: 357px;
	line-height: 50px;
	padding-left: 3px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 3px;
	background-color: #000;
	color: #cc6e72;
	text-align: center;
	cursor: pointer;
}
.add-goods-err {
	display: none;
	position: absolute;
	right: 0;
	top: 50px;
	line-height: 24px;
	font-size: 12px;
	font-weight: bold;
	color: #b34d49;
	width: 100%;
	text-align: right;
}
.goods-designer {
	width: 420px;
}
.gd-info-tle {
	line-height: 36px;
	font-size: 16px;
	font-weight: bold;
}
.gd-info-item-desc-txt {
	line-height: 24px;
	font-size: 14px;
	letter-spacing: 1px;
}
.goods-desc {
	margin-top: 10px;
}
.designer-name {
	margin-top: 5px;
	font-size: 16px;
	font-weight: bold;
}
.designer-special {
	line-height: 16px;
	margin-left: 12px;
	padding: 0 12px;
	font-size: 12px;
	border: 1px solid #b7b7b7;
	-moz-border-radius: 8px;
	     border-radius: 8px;
	font-weight: normal;
	vertical-align: top;
}
.designer-special:hover {
	color: #b34d49;
}
.size-table-btn {
	padding: 30px 0;
}
.size-table-btn-txt {
	line-height: 16px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 3px solid #000;
	cursor: pointer;
}
.collect-share-wrapper {
	padding: 20px 0;
	width: 480px;
	border-top: 1px solid #b7b7b7;
	font-size: 0;
}
.collect-btn {
	line-height: 26px;
	padding-left: 35px;
	width: 88px;
	font-size: 16px;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(./images/collect.png);
	cursor: pointer;
}
.collect-btn.collected {
	background-image: url(./images/collected.png);
	color: #b34d49;
}
.share-btn {
	line-height: 26px;
	padding-left: 35px;
	font-size: 0;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(./images/share.png);
	cursor: pointer;
}
.share-btn-remark {
	font-size: 16px;
}
.share-tyle-list {
	display: none;
	margin-left: 15px;
	font-size: 0;
}
.share-btn:hover .share-tyle-list {
	display:inline-block;
}
.share-style-item-link {
	margin-right: 10px;
	width: 26px;
	height: 26px;
	background-repeat: no-repeat;
	background-position: center;
}
.share-style-item-link.wx {
	background-image: url(./images/wx.png);
}
.share-style-item-link.wb {
	background-image: url(./images/wb.png);
}
.share-style-item-link.db {
	background-image: url(./images/db.png);
}
.share-style-item-link.qqkj {
	background-image: url(./images/qqkj.png);
}

.global-title-wrapper {
	padding: 72px 0px 32px;
	text-align: center;
}
.global-title-h3 {
	line-height: 40px;
	padding-left: 4px;
	letter-spacing: 4px;
	font-size: 24px;
	font-weight: bold;
}
.global-title-english {
	line-height: 30px;
	padding-left: 2px;
	font-size: 14px;
	color: #808080;
	letter-spacing: 2px;
}

.more-recommended {
	position: relative;
	margin: 0 auto;
	width: 1200px;
}
.recommended-goods {
	position: relative;
	margin: 0 auto;
	width: 1100px;
	height: 320px;
	overflow: hidden;
}
.recommend-btn {
	position: absolute;
	top: 0;
	width: 50px;
	height: 80%;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}
.recommend-prev {
	left: 0;
	background-image: url(./images/arrow-left.png);
}
.recommend-prev.has-more {
	cursor: pointer;
	background-image: url(./images/arrow-left-1.png);
}
.recommend-next {
	right: 0;
	background-image: url(./images/arrow-right.png);
}
.recommend-next.has-more {
	cursor: pointer;
	background-image: url(./images/arrow-right-1.png);
}
.recommended-goods-list {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.recommended-goods-item {
	float: left;
	width: 275px;
}
.slide-goods-item {
	margin: 0 auto;
	width: 250px;
}
.recommended-goods-link {
	display: block;
	width: 100%;
	text-align: center;
}
.goods-img-wrapper {
	display: block;
	margin-bottom: 20px;
	width: 250px;
	height: 250px;
	overflow: hidden;
}
.goods-name-wrapper {
	display: block;
	line-height: 24px;
	padding: 0 10px 0 12px;
	overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  color: #494a4a;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}
.goods-price-wrapper {
	display: block;
	line-height: 24px;
	padding-left: 4px;
	letter-spacing: 4px;
	color: #6d6d6d;
	font-size: 14px;
	font-weight: bold;
}

.gd-win-wrapper {
	/*display: none;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.gd-win-bg {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
}
.gd-win-content, .store-reserve-win, .reserve-success-win, .bind-mobile-email-wrapper {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -306px 0 0 -475px;
	width: 948px;
	height: 610px;
	border: 1px solid #b7b7b7; 
	background-color: #fff;
	overflow: hidden;
	z-index: 1;
}
.bind-mobile-email-wrapper {
	z-index: 10;
}
.gd-win-ct-tle, .bmew-tle {
	position: relative;
	border-bottom: 3px solid #393939;
}
.bmew-tle-txt {
	display: block;
	padding: 40px 0 26px 5px;
	line-height: 62px;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 5px;
	text-align: center;
}
.bmew-close-btn {
	position: absolute;
	top: 60px;
	right: 50px;
	padding-left: 2px;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
}
.bmew-ct-item-code {
	margin-top: 15px;
}
.bmew-ct-item-gp {
	line-height: 32px;
	margin-right: 20px;
	width: 300px;
	border: 1px solid #d3d3d3;
	text-align: left;
}
.bmew-ct-item-code .bmew-ct-item-gp {
	margin-right: 100px;
	width: 220px;
}
.bmew-ct-item-btn {
	line-height: 30px;
	padding-left: 1px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	cursor: pointer;
	color: #ff8c90;
}
.bmew-confirm-btn {
	margin-right: 44px;
	width: 90px;
}
.bmew-code-btn {
	width: 134px;
}
.bmew-ct-item-name {
	padding-left: 30px;
	font-size: 14px;
	letter-spacing: 2px;
	background-repeat: no-repeat;
}
.bmew-ic-1 {
	background-image: url(../public/images/mb.png);
	background-position: 12px center;
}
.bmew-ic-2 {
	background-image: url(../public/images/code-icon.png);
	background-position: 10px center;
}
.bmew-ic-3 {
	background-image: url(../public/images/email.png);
	background-position: 9px center;
}
.bind-mobile-wrapper {
	padding: 100px 0 120px;
	font-size: 0;
	text-align: center;
	border-bottom: 3px solid #393939;
}
.bmew-ct-item-input {
	padding: 5px 0;
	width: 170px;
	height: 22px;
}
.bmew-ct-item-code .bmew-ct-item-input {
	width: 90px;
}
.bind-mobile-input, .bind-code-input {
	line-height: 22px;
	width: 100%;
	height: 22px;
	font-size: 14px;
}
.gd-win-ct-tle-txt {
	display: block;
	padding-left: 30px;
	line-height: 84px;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 5px;
}
.gd-win-close-btn {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 84px;
	height: 84px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(./images/close.png);
	z-index: 1;
	cursor: pointer;
}
.win-drop-down-view {
	position: relative;
	padding-left: 30px; 
	line-height: 60px;
	height: 60px;
	font-size: 0;
	border-bottom: 1px solid #393939;
	cursor: pointer;
}
.win-drop-down-box-tle {
	padding-right: 10px;
	font-size: 30px;
	letter-spacing: 4px;
}
.win-drop-down-box-result {
	font-size: 30px;
	letter-spacing: 4px;
}
.win-drop-down-icon {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 84px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../public/images/pull-down.png);
	z-index: 1;
}
.gd-size-box.is-show .win-drop-down-icon {
	background-image: url(../public/images/pull-down-3.png);
}
.win-drop-down-list {
	display: none;
	position: absolute;
	top: 61px;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: #fff;
}
.win-drop-down-item {
	position: relative;
	line-height: 40px;
	padding-left: 66px;
	font-size: 18px;
	border-bottom: 1px solid #b7b7b7;
}
.win-drop-down-item .in-block {
	position: absolute;
	left: 0;
	top: 0;
	width: 66px;
	height: 40px;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: center;
}
.win-drop-down-item:hover {
	background-color: #b3494d;
	color: #fff;
}
.man-icon {
	background-image: url(../goods-details/images/man.png);
}
.woman-icon {
	background-image: url(../goods-details/images/woman.png);
}
.womanandman-icon {
	background-image: url(../goods-details/images/womanandman.png);
}
.win-drop-down-item:hover .man-icon {
	background-image: url(../goods-details/images/man-1.png);
}
.win-drop-down-item:hover .woman-icon {
	background-image: url(../goods-details/images/woman-1.png);
}
.win-drop-down-item:hover .womanandman-icon {
	background-image: url(../goods-details/images/womanandman-1.png);
}
.store-reserve-win-tle-wrapper {
	position: relative;
	padding: 20px 0 10px;
	text-align: center;
	border-bottom: 3px solid #393939;
}
.store-reserve-win-tle {
	line-height: 62px;
	font-size: 42px;
	font-weight: bold;
	padding-left: 4px;
	letter-spacing: 4px;
}
.store-reserve-win-desc {
	line-height: 34px;
	font-size: 14px;
}
.store-reserve-win-ct {
	margin: 0 50px;
}
.reserve-win-ct-tle {
	border-bottom: 1px solid #b7b7b7;
	overflow: hidden;
}
.reserve-win-ct-tle-item {
	float: left;
	padding-top: 18px; 
	line-height: 38px;
	font-size: 14px;
	font-weight: bold;
}
.item-1 {
	width: 40%;
}
.item-2 {
	width: 20%;
	text-align: center;
}
.reserve-win-main-ct {
	margin-top: 10px;
	height: 100px;
	background-color: #f4f6f5;
}
.inform-style-tle {
	padding-top: 18px; 
	line-height: 38px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #b7b7b7;
}
.reserve-win-main-item {
	float: left;
}
.reserve-win-goods-info {
	position: relative;
	padding: 10px 0 0 115px;
}
.reserve-win-goods-img {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 100px;
	overflow: hidden;
	z-index: 1;
}
.reserve-win-goods-name {
	line-height: 28px;
	font-size: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; 
}
.reserve-win-goods-name .goods-name-txt {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
}
.reserve-win-goods-name .goods-name-hr {
	margin: 0 6px;
	width: 2px;
	height: 2px;
}
.reserve-win-goods-desc {
	line-height: 26px;
	font-size: 14px;
	color: #494a4a;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; 
	letter-spacing: 1px;
}
.reserve-win-goods-color-oper {
	padding-top: 42px;
	font-size: 0;
}
.reserve-goods-color-group {
	font-size: 0;
}
.reserve-win-goods-color-ctr {
	position: relative;
	margin-right: 5px;
	width: 21px;
	height: 22px;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
}
.reserve-win-goods-color-ctr.colorSel {
	background-image: url(./images/colorSel.png);
}
.reserve-win-goods-color-name {
	line-height: 16px;
	font-size: 14px;
}

.reserve-win-main-drop-down {
	margin: 30px auto; 
	width: auto;
}
.reserve-win-main-drop-down .goods-size-view {
	padding-right: 30px;
	border: none;
	text-align: left;
}
.reserve-win-main-drop-down .goods-size-list {
	border-top: 1px solid #b7b7b7;
	background-color: #fff;
}
.inform-style-list {
	overflow: hidden;
}
.inform-style-item {
	float: left;
}
.inform-style-1 {
	width: 55%;
}
.inform-style-2 {
	width: 45%;
}
.store-reserve-win-submit {
	border-top: 3px solid #393939;
}
.reserve-submit-self {
	display: block;
	margin: 50px auto;
	padding-left: 2px;
	line-height: 36px;
	width: 200px;
	height: 36px;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	color: #ff8c90;
	cursor: pointer;
}
.inform-style-item-ctr {
	position: relative;
	padding: 30px 0 40px 40px;
}
.inform-style-btn {
	display: block;
	position: absolute;
	left: 0px;
	top: 30px;
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../public/images/select-icon.png);
}
.inform-style-btn.selected {
	background-image: url(../public/images/selected-icon.png);
}
.inform-style-btn-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	cursor: pointer;
	z-index: 1;
}
.inform-style-name {
	line-height: 36px;
	font-size: 0;
}
.inform-name-tle {
	font-size: 14px;
}
.inform-name-txt {
	padding: 0 30px;
	min-width: 50px;
	text-align: center;
	font-size: 14px;
}
.inform-style-oper {
	line-height: 24px;
	padding-left: 2px;
	width: 80px;
	height: 24px;
	font-size: 14px;
	text-align: center;
	letter-spacing: 2px;
	cursor: pointer;
	color: #ff8c90;
}
.reserve-success-img {
	height: 480px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(./images/note.png);
}