@charset"UTF-8";
.sign-wrapper {
	margin-bottom: 95px;
}
.snwr-box {
	position: relative;
	margin:  0 auto;
	padding-top: 100px;
	width: 1080px;
	overflow: hidden;
	font-size: 0;
}

.snwr-box-l {
	width: 450px;
}
.snwr-box-img {
	width: 450px;
	height: 450px;
	overflow: hidden;
}
.snwr-box-dt {
	padding: 25px 0;
	text-align: center;
}
.snwr-box-desc {
	line-height: 24px;
	padding-left: 2px;
	font-size: 14px;
	letter-spacing: 2px;
}
.snwr-box-m-tle {
	line-height: 26px;
	padding-left: 1px;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: bold;
}
.snw-tle-wrapper {
	line-height: 38px;
	border-bottom: 4px solid #000;
	font-size: 0;
}
.snw-tle-txt {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
}
.snw-tle-desc {
	padding-left: 10px;
	font-size: 15px;
	letter-spacing: 1px;
}
.snwr-err {
	color: #b3494d;
	font-size: 12px;
}
.snwr-input-group {
	padding: 15px 0;
}
.snwr-input-group .u-ic .sign-input {
	width: 186px;
}
.snwr-input-group .p-ic .sign-input {
  width: 193px;
}
.snwr-input-group .c-ic .sign-input {
	width: 108px;
}
.snwr-input-group .sign-input-ctr.u-ic {
  background-position: 280px center;
}
.snwr-input-group .sign-input-ctr.p-ic {
  background-position: 280px center;
}
.snwr-input-group .sign-input-ctr.c-ic {
  background-position: 180px center;
}
.snwr-input-group .sign-input-layout {
  padding-bottom: 15px;
}
.snwr-input-group .rest-operation-wrapper {
  padding-top: 25px;
}
.snwr-box-r {
	margin-left: 330px;
	width: 300px;
}



.sign-footer-controller {
	border-top: 1px solid #8f8f8f;
}
.s-ft-ctr {
	margin: 0 auto;
	width: 100%;
	max-width: 1700px;
}
.s-ft-ctr-g {
	padding: 26px 90px 42px;
	overflow: hidden;
}
.s-ft-ctr-l {
	width: 50%;
	line-height: 22px;
	float: left;
	text-align: left;
	font-size: 14px;
	color: #808080;
}
.s-ft-ctr-time {
	line-height: 26px;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(../sign-in/images/clock.png);
}
.s-ft-ctr-r {
	width: 50%;
	line-height: 22px;
	float: right;
	text-align: right;
	font-size: 14px;
	color: #808080;
}
.s-ft-ctr-desc {
	line-height: 26px;
}
.s-ft-ctr-link .footer-nav-link {
	padding: 0 11px 0 10px;
	position: relative;
	line-height: 26px;
	color: #808080;
}
.s-ft-ctr-link .footer-nav-link:hover {
	color: #b3494d;
}
.s-ft-ctr-link .footer-nav-link:before {
	content: '';
	position: absolute;
	right: 0;
	top: 6px;
	width: 1px;
	height: 14px;
	background-color: #808080;
}
.footer-nav-link.last-link {
	padding-right: 0;
}
.footer-nav-link.last-link:before {
	width: 0px;
}



.random-user-sign-up {
	padding-top: 15px;
}
.random-user-sup {
	width: 300px;
}
.random-user-sup-item {
	position: relative;
	margin-bottom: 15px;
	height: 30px;
	border: 1px solid #d3d3d3;
}
.random-user-sup-item.spc-styl {
	width: 190px;
}
.random-user-sup-item.urio-styl {
	padding-left: 10px;
	margin-bottom: 5px;
	font-size: 0;
	border: none;
  background-repeat: no-repeat;
  background-position: 285px center;
  background-image: url(../public/images/essential-icon.png);
}
.get-ip-code-btn {
	display: block;
	position: absolute;
	left: 207px;
	top: -1px;
	line-height: 32px;
	padding-left: 2px;
	width: 90px;
	height: 32px;
	z-index: 1;
	text-align: center;
	background-color: #000;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 12px;
	color: #ff8c90;
	cursor: pointer;
}
.get-ip-code-btn.not-click {
	background-color: #ccc;
	cursor: default;
}
.random-user-sup-item-wrapper {
	position: relative;
	padding-left: 100px;
	background-repeat: no-repeat;
	background-position: 285px center;
	background-image: url(../public/images/essential-icon.png);
}
.random-user-sup-item-wrapper.not-ic {
	background-position: 175px center;
}
.random-user-sup-name {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	line-height: 30px;
	width: 75px;
	height: 30px;
	padding-left: 30px;
	font-size: 12px;
	letter-spacing: 1px;
}
.icon {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
}
.ic-1 .icon {
	background-image: url(../public/images/ph-icon.png);
}
.ic-2 .icon {
	background-image: url(../public/images/code-icon.png);
}
.ic-3 .icon {
	background-image: url(../public/images/n-pd.png);
}
.ic-4 .icon {
	background-image: url(../public/images/pw-icon.png);
}
.random-user-sup-input {
	width: 100%;
	line-height: 30px;
	height: 30px;
	font-size: 12px;
}

.random-user-sup-bri-name, .urio-item-tle {
	line-height: 32px;
	margin-right: 10px;
	font-size: 12px;
	letter-spacing: 1px;
}
.urio-item-select-box {
	position: relative;
	line-height: 22px;
	margin-right: 10px;
	width: 56px;
	height: 22px;
	border: 1px solid #666;
}
.urio-item-select {
	position: absolute;
	left: 0px;
	top: 4px;
	z-index: 10;
	padding: 0 4px 0 14px;
	border: none;
	font-size: 12px;
	letter-spacing: 1px;
	color: #222021;
}
.urio-item-select.urio-years {
	padding: 0 0 0 2px;
}

.random-user-sup-item.spc-styl-1 {
	background-image: none;
}
.urio-item-tle {
	margin-right: 15px;
}
.urio-item-radio-box {
	position: relative;
	line-height: 32px;
	margin-right: 30px;
	padding-left: 30px;
	font-size: 12px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(../public/images/select-icon.png);
}
.urio-item-radio-box.seled {
	background-image: url(../public/images/selected-icon.png);
}
.urio-item-radio {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
	filter: alpha(opacity=0);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.random-user-sup-desc {
	margin-left: 10px;
	padding-left: 26px;
	line-height: 22px;
	font-size: 12px;
	letter-spacing: 1px;
	background-repeat: no-repeat;
	background-position: left 3px;
	background-image: url(../payment-process/images/s-ic.png);
}
.sel-bri-desc {
	margin-left: 10px;
	line-height: 22px;
	font-size: 12px;
	letter-spacing: 1px;
}
.go-to-service-reguations {
	display: block;
	font-size: 12px;
	font-weight: bold;
}
.go-to-service-reguations:hover {
	color: #b3494d;
}
.ppw-sign-up-btn-wrapper {
	position: relative;
	padding: 10px 0 40px 0;
}
.ppw-sign-up-btn {
	display: block;
	padding-left: 4px;
	line-height: 40px;
	width: 294px;
	height: 40px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	color: #ff8c90;
	letter-spacing: 4px;
	cursor: pointer;
}
